/*
SVG Hamburger menu with close button

Creates an svg based hamburger-svg menu with its own close buttton and animation effects.
Requires the use of JavaScript to change state (hamburger-svg-menu-close-button.js)

Markup:
<div id="hamburger-svg">
  <svg viewbox="0 0 64 64">
    <line id="hamburger-svg__line-1" x1="8" x2="56" y1="16" y2="16" class="hamburger-svg__line" />
    <line id="hamburger-svg__line-2" x1="8" x2="56" y1="32" y2="32" class="hamburger-svg__line" />
    <line id="hamburger-svg__line-3" x1="8" x2="56" y1="48" y2="48" class="hamburger-svg__line" />
    <line x1="16" x2="48" y1="16" y2="48" class="hamburger-svg__cross-line" />
    <line x1="16" x2="48" y1="48" y2="16" class="hamburger-svg__cross-line" />
    <rect class="hamburger-svg__rect" width="42" height="42" x="11" y="11" />
  </svg>
</div>

Weight: 2

Styleguide Hamburger.SVG-Hamburger menu with close button
*/

#hamburger-svg
{
  background: transparent;//Make this transparent in your code
  width: 4em;
  height: 4em;
  cursor: pointer;
}

.hamburger-svg__rect
{
  stroke-width: 0;
  stroke: #fe0000;
  fill: transparent;
  transform-origin: 50% 50%;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
}

.hamburger-svg__cross-line
{
  stroke: #ffffff;
  stroke-width: 0;
  transform-origin: 50% 50%;
  transition: all 0.3s ease-in-out;
}

.hamburger-svg__line
{
  stroke: #fff;
  transform-origin: 50% 50%;
  stroke-width: 2px;
  transition: all 0.3s ease-in-out;
}

#hamburger-svg:hover .hamburger-svg__rect
{
  stroke-width: 1;
  transform: rotate(45deg);
}

#hamburger-svg:hover .hamburger-svg__line
{
  transform: scale(0.5, 0.5);
}

#hamburger-svg:hover #hamburger-svg__line-1
{
  transform: translateY(10px) scale(0.5);
}

#hamburger-svg:hover #hamburger-svg__line-3
{

  transform: translateY(-10px) scale(0.5);
}

#hamburger-svg.active .hamburger-svg__cross-line
{
  stroke-width: 2;
  transform: scale(0.8);
}

#hamburger-svg.active .hamburger-svg__line,
#hamburger-svg.active #hamburger-svg__line-1,
#hamburger-svg.active #hamburger-svg__line-3
{
  transform: scale(0.01);
}

#hamburger-svg.active:hover .hamburger-svg__cross-line
{
  transform: scale(0.6);
}

@media (min-width: 43.75em)
{
  #hamburger-svg
  {
    display: none;
  }
}

@media (min-width: 35em)
{

}
