/*
Modal

A basic customizable modal

Markup:
  <div class="modal" id="modal">
    <div class="modal-backdrop"></div>
    <div class="modal-body">
      {close button}
    </div>
  </div>

Weight: 1

Styleguide Modal.standard markup
*/

.modal
{
  display: none;
}

.modal-backdrop
{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(0, 100%, 0%, 0.5);
}

.modal-body
{
  position: fixed;
  padding: 2em 3em;
  background-color: hsla(0, 100%, 100%, 1);
  overflow: auto;
}
