/*
Menu Dropdown

Controls the display of the menu

Markup:
<nav class="menu-primary" id="main-menu">
    <!-- Hamburger Menu Starts -->
    <!-- Hamburger Menu Ends -->
  <div class="menu-dropdown">
    <!-- Navigation Menu Starts -->
    <!-- Navigation Menu Ends -->
  </div>
</nav>

Styleguide Menu Dropdown
*/

#main-menu
{
  position: relative;
}

.menu-dropdown
{
  display: none;
  position: absolute;
  top: 1.9em;
  left: -0.9em;
  margin: 0;
}

.menu-primary.is-open .menu-dropdown
{
  display: block;
}


@media (min-width: 43.75em)
{
  .menu-dropdown
  {
    display: block;
    position: static;
    padding-top: 1em;
  }
}