/*
Sidebar Says Grid Left

Creates a two column layout using grid.

Markup:
<div class="container">
  <div class="sidebar-left tile"></div>
  <div class="main-tile tile"></div>
</div>

Weight: 1

Styleguide Utilities.Sidebar-Says-left--grid
*/

.container
{/* target the parent with two children */
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
}