/*
Pancake Stack

Creates a two column layout using grid.

Markup:
<div class="ps-parent">
  <header></header>
  <body></body>
  <footer></footer>
</div>

Weight: 1

Styleguide Utilities.Pancake Stack
*/

.ps-parent
{
  display: grid;
  grid-template-rows: auto 1fr auto;
}