.btn--Flat-Modern
{
  background-color: #57b;
  border-radius: 0.5em;
  box-shadow: 0 0.4em #148;
  text-shadow: 1px 1px #148;
  padding: 0.8em;
}

.btn--Flat-Modern:active
{
  background-color: #456ab5;
  transform: translateY(0.1em);
  box-shadow: 0 0.3em #148;
}