/* ****************** Responsive BreakPoints****************** */
:root
{
  --w480px: 30em;
  --w500px: 31.25em;
  --w600px: 37.5em;
  --w700px: 43.75em;
  --w800px: 50em;
  --w1080px: 67.5em;
  /*
    480px = 30em
    500px = 31.25em
    600px = 37.5em
    700px = 43.75em
    800px = 50em
    1080px = 67.5em
*/
}