:root
{  
  //Normal Linear gradient
--gradient-Zinc:linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
--gradient-King-Yna:linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
--gradient-Orange-Coral:linear-gradient(to right, #ff5e62, #ff9966);
--gradient-PurPink:linear-gradient(to right, #E100FF, #7F00FF);
--gradient-Dull: linear-gradient(to right, #E2E2E2, #C9D6FF);
--gradient-Kimoby-blue:linear-gradient(to right, #2948ff, #396afc);
--gradient-Broken-hearts:linear-gradient(to right, #fffcdc, #d9a7c7);
--gradient-SociaLive:linear-gradient(to right, #48b1bf, #06beb6);
--gradient-Crimson-Tide:linear-gradient(to right, #C6426E, #642B73);
--gradient-Terminal:linear-gradient(to right, #0f9b0f, #000000);
--gradient-Scooter:linear-gradient(to right, #5B86E5, #36D1DC);
--gradient-Alive: linear-gradient(to right, #BD3F32, #CB356B);
--gradient-Meridiam: linear-gradient(to right, #155799, #159957);
--gradient-Crystal-Clear:linear-gradient(to right, #155799, #159957);
--gradient-Visions-of-Grandeur: linear-gradient(to right, #1CB5E0, #000046);
--gradient-Bad-Boys:linear-gradient(to right, #78ffd6, #007991);
--gradient-Coal:linear-gradient(to right, #000000, #EB5757);
--gradient-Pacific-Dream:linear-gradient(to right, #0f3443, #34e89e);
--gradient-Orca:linear-gradient(to right, #093637, #44A08D);
--gradient-Love-Liberty:linear-gradient(to right, #6f0000, #200122);
--gradient-Under-the-Lake:linear-gradient(to right, #237A57, #093028); 
--gradient-Love-Couple:linear-gradient(to right, #89253e, #3a6186);
--gradient-Moonlit-Asteroid:linear-gradient(to right, #2C5364, #203A43, #0F2027);
--gradient-Sin-City-Red: linear-gradient(to right, #93291E, #ED213A);
--gradient-Lust:linear-gradient(to right, #dd1818, #333333);
--gradient-Lawrencium:linear-gradient(to right, #24243e, #302b63, #0f0c29);
--gradient-Frost:linear-gradient(to right, #004e92, #000428);
--gradient-Netflix:linear-gradient(to right, #1F1C18, #8E0E00);
--gradient-Clear-Sky:linear-gradient(to right, #363795, #005C97);
--gradient-Dark-Knight:linear-gradient(to right, #181818, #BA8B02);
--gradient-Purple-Bliss:linear-gradient(to right, #0b8793, #360033);
--gradient-Green-to-Dark: linear-gradient(to right, #141517, #6A9113);
--gradient-The-Strain:linear-gradient(to right, #190A05, #870000);
--gradient-Namn:linear-gradient(to right, #7a2828, #a73737);
--gradient--Army:linear-gradient(to right, #727a17, #414d0b);
--gradient-Midnight-City:linear-gradient(to right, #414345, #232526);
--gradient-Mirage:linear-gradient(to right, #3A6073, #16222A);
--gradient-Aubergine:linear-gradient(to right, #61045F, #AA076B);
--gradient-Cherry:linear-gradient(to right, #F45C43, #EB3349);
--gradient-Youtube:linear-gradient(to right, #b31217, #e52d27);
--gradient-Nimvelo:linear-gradient(to right, #26a0da, #314755);
--gradient-Ver:linear-gradient(to right, #799F0C, #FFE000);
--gradient-Skyline:linear-gradient(to right, #2B32B2, #1488CC);
--gradient-Domingo: linear-gradient(to right, #fc6767, #ec008c);
--gradient-Sea-Blue:linear-gradient(to bottom, #4e4376, #2b5876);

          //Dark Gradients
  --gradient-dark-Early-Retirement: linear-gradient(315deg, #000000 0%, #414141 74%);
  --gradient-dark-Presentaion-Exitement: linear-gradient(315deg, #63d471 0%, #233329 74%);
  --gradient-dark-Someone-Elses-Tie: linear-gradient(315deg, #485461 0%, #28313b 74%);
  --gradient-dark-Secret-File: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
  --gradient-dark-Mona-Lisas-Laugh: linear-gradient(315deg, #ffa69e 0%, #5d4954 74%);
  --gradient-dark-Pre-Dark: linear-gradient(147deg, #000000 0%, #434343 74%);
  --gradient-dark-Amazon: linear-gradient(147deg, #166d3b 0%, #000000 74%);
  --gradient-dark-Deep-Water: linear-gradient(147deg, #000000 0%, #04619f 74%);  
  --gradient-dark-Witness: linear-gradient(147deg, #923cb5 0%, #000000 74%);
  --gradient-dark-Labour-Worker: linear-gradient(147deg, #000000 0%, #2c3e50 74%);  
  --gradient-dark-Broken-Guitar: linear-gradient(315deg, #a55c1b 0%, #000000 74%);
  --gradient-dark-Slow-Internet: linear-gradient(315deg, #000000 0%, #b82e1f 74%);  
  --gradient-dark-Summertime-Sadness: linear-gradient(315deg, #756213 0%, #000000 74%);
  --gradient-dark-Usual-Suspects: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
  --gradient-dark-Night-Club: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  --gradient-dark-Soft-Kiss:linear-gradient(315deg, #ffeaa7 0%, #000000 74%);  
  --gradient-dark-Dark-Pink: linear-gradient(315deg, #e84393 0%, #000000 74%);
  --gradient-dark-Fake-Plant: linear-gradient(315deg, #55efc4 0%, #000000 74%);
  --gradient-dark-CTRL-S: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
  --gradient-dark-Moon-Spot: linear-gradient(147deg, #d7d7d7 0%, #353535 74%); 
  --gradient-dark-Obamas-Resignation: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  --gradient-dark-Caseys-Broken-Camera: linear-gradient(315deg, #a40606 0%, #d98324 74%); 
  --gradient-dark-Jack-Dorseys-Stock: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  --gradient-dark-Mars-Conquest: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%); 
  --gradient-dark-Fraudulent-Election: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%); 
  --gradient-dark-Pollocks-Inspiration: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
  --gradient-dark-Black:linear-gradient(to right, #040404, #000000, #656565);
}
