.text-center
{
  text-align: center !important;
}

.hidden
{
  display: none !important;
}

.l-inline
{
  display: inline;
}

.ztp
{
  margin-top: 0 !important;
}

.dcp//Double Container Pattern
{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0.5em;
}

.glass
{
  background-color: hsla(0, 0%, 0%, 0.2);
  backdrop-filter: blur(40px);
  border: solid 2px transparent;
  background-clip: padding-box;

}

